.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoList{
  height: 300px;
  width: 250px;
  border: 2px solid black;
  padding: 24px;
  overflow-y: scroll;
}

.listItem{
  padding: 18px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 12px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.listItem:hover{
  background-color: lightblue;
  cursor: pointer;
}

button{
  cursor: pointer;
}